#apos-notification .apos-notifications {
  bottom: 140px;
  transform: scale(1.5);
}

.apos-area-menu--expanded 
{

  .apos-modal__inner--one-third {
    max-width: none !important;
    width: 450px !important;
  }

  .apos-modal__body {
    padding: 20px !important;
  }
}