.article-excerpt {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  border: 4px solid black;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: translateY(0px);
  &:hover {
    transform: translateY(-2px) scale(1.01);
  }
}

.article-title-wrapper {
  margin-bottom: 50px;
}

.article-blurb {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

.article-excerpt a {
  color: black;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #6617dc;
  }
}

.article-excerpts {
  display: flex;
  flex-wrap: wrap;
  .article-excerpt {
    width: 30%;
    margin: 1%;
  }
}

.article-show {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 50px;

  h1 {
    font-family: 'Inter', sans-serif;
    font-size: 5em;
    line-height: 1.3;
    margin-top: 30px;
  }

  .meta {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .article-show {

    h1 {
      font-size: 3.6em;
    }
  }
}

.related {
  margin-top: 50px;
  padding: 30px;
  background-color: #f7f7f7;

  .inner {
    max-width: 500px;
    margin: 0 auto;
  }
}

.article-intro {
  font-family: 'Inter', sans-serif;
  margin-bottom: 40px;
}

.latest-article h2 {
  opacity: 0.5;
}

.article-topics {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;

  li {
    border: 1px solid #828282;
    padding: 0.5em;
    border-radius: 10px;
    margin-right: 0.5rem;
    font-size: 10px;
  }
}

.article-topics.inner {
  display: flex;
  justify-content: center;
}