// .widget-columns {
//   display: flex;
//   justify-content: space-between;
//   gap: 5%;

//   @media (max-width: 680px) {
//     flex-direction: column;
//   }
  
//   @container (max-width: 680px) {
//     flex-direction: column;
//   }
// }

// .widget-columns__column {
//   display: flex;
//   flex-direction: column;
//   flex-basis: 100%;
//   flex: 1;

//   @media (max-width: 680px) {
//     width: 100% !important;
//   }
  
//   @container (max-width: 680px) {
//     width: 100% !important;
//   }
// }

// .widget-columns--single-50 {
//   justify-content: center;
//   .widget-columns__column {
//     width: 100%;
//     max-width: math.div($outerWidth, 2);
//   }
// }

// .widget-columns--40-40 {
//   justify-content: space-around;
//   .widget-columns__column {
//     width: 40%;
//     flex-basis: auto;
//     flex: unset;
//   }
// }

// .widget-columns--50-50 {
//   .widget-columns__column {
//     width: 50%;
//   }
// }

// .widget-columns--33-33-33 .widget-columns__column {
//   width: 30%;
//   margin-right: 5%;
//   &:last-child {
//     margin-right: 0;
//   }
// }

// @media only screen and (max-width: 650px) {
//   .widget-columns {
//     flex-direction: column;
//   }
//   .widget-columns,
//   .widget-columns--33-33-33,
//   .widget-columns--40-40 {
//     .widget-columns__column {
//       margin-bottom: 10px;
//       width: 100%;
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }

// }

.apos-layout__item {
  .widget {
    margin-bottom: 2rem;
  }
}