body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  padding: 0;
  margin: 0;
}

a {
  color: var(--nav-color);
}

main {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: var(--max-layout-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (max-width: 680px) {
    display: block;
  }

  @container (max-width: 680px) {
    display: block;
  }
}

.site-home {
  display: inline-block;
}

.site-logo {
  display: block;
  width: 180px;
}

.placeholder {
  opacity: 0.5;
  margin: 40px 0;
  font-style: italic;
}

.general-content .demo-rte {
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 600px) {
    overflow: scroll;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("/modules/asset/fonts/poppins.subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/modules/asset/fonts/quicksand.subset.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/modules/asset/fonts/roboto.subset.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/modules/asset/fonts/roboto-italic.subset.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
