.header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 62px;
  margin: 20px 0 40px 0;
}

.header .inner {
  max-width: 1100px;
  display: flex;
  order: 1; // To allow locales to be placed first.
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;

  @media (max-width: 680px) {
    flex-direction: column;
    text-align: center;
  }
  
  @container (max-width: 680px) {
    flex-direction: column;
    text-align: center;
  }
}

.breadcrumb a {
  font-family: "IBM Plex Mono", monospace;
  font-size: .8em;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:after {
    margin: 0 8px;
    content: '/';
    display: inline-block;
    text-decoration: none;
    color: black;

    @media (max-width: 680px) {
      content: none;
    }
    
    @container (max-width: 680px) {
      content: none;
    }
  }
  &:last-child:after {
    content: ''
  }
}

.current-page {
  color: inherit;
  text-decoration: none;
}
