.locales {
  position: relative;
}

.locales__toggler__active-label {
  position: relative;
  top: 2px;
}

.locales__toggler__flag {
  position: relative;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  top: 1px;
  border-radius: 50%;
  background-size: 160%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.locales__toggler__chevron {
  position: relative;
  top: 3px;
  width: 13px;
  height: auto;
  left: -2px;
}

.locales__toggler__text {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  font-size: 0.875rem;

  &:hover {
    color: var(--nav-hover-color);
  }
}

.locales__toggler {
  all: unset;
  cursor: pointer;

  &[aria-expanded="true"] {
    border-radius: 10px 10px 0px;
  }
}

.locales__list {
  z-index: 2;
  position: absolute;
  flex-direction: column;
  gap: 0.5rem;
  top: 100%;
  background: var(--nav-dropdown-background-color);
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 1rem 1.75rem;
  white-space: nowrap;
  font-size: 0.875rem;
}

[aria-expanded="true"] + .locales__list {
  display: flex;
}

.locales__item {
  margin-bottom: 5px;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  a,
  a:visited {
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }
}

.locales__toggler__check {
  position: relative;
  z-index: 2;
  width: 18px;
}

.current .locales__toggler__flag::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contrast-color);
  opacity: 0.75;
}