.locales {
  position: absolute;
  text-align: right;
  top: -30px;
  right: 20px;
}

.locales__toggler {
  cursor: pointer;

  &[aria-expanded="true"] {
    border-radius: 10px 10px 0px;
  }
}

.locales__list {
  list-style: none;
  border: 3px solid black;
  border-radius: 10px 0px 10px 10px;
  margin-top: -3px;
  padding: 10px;
  background-color: white;
}

.locales__item {
  margin-bottom: 5px;

  a,
  a:visited {
    color: $link-color;
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }
}
