.nav-bar {
  background: var(--surface-color);
  border-radius: 50px;
  padding: 5px 25px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: flex;
  max-width: 1140px;
}

.nav-bar h2 {
  margin: 0;
  padding: 0;
}

.nav {

}

.nav ul {
  margin: 0 40px;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li {
  position: relative;

  &:hover {
    a, .active, .active:focus {
      color: var(--nav-hover-color);
    }
  }
}

.nav a {
  color: var(--nav-color);
  padding: 18px 15px;
  font-size: 16px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;

  &.active {
    color: var(--nav-hover-color);
  }
}



.nav-bar .callout-button {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  font-size: 14px;
  padding: 8px 20px;
  margin: 0 0 0 30px;
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}