.gh-pr-widget {
  padding: 1.5rem;

  p {
    margin: 0;
  }
}

.gh-pr-widget__title {
  width: 100%;
  font-size: 32px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gh-pr-widget__subtitle {
  font-size: 14px;
  line-height: 1.3;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.gh-pr-widget__items {
  padding-left: 20px;
}

.gh-pr-widget__item {
  margin-bottom: 20px;
}

.gh-pr-widget__details {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  text-decoration: none;
}

.gh-pr-widget__avatar {
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.gh-pr-widget__subdetails {
  display: flex;
  font-size: var(--text-size-default);
  color: var(--default-color);
  margin-top: 10px;
}

p.gh-pr-widget__subdetail {
  margin-right: 10px;
}