.gh-pr-widget {
  border: 10px solid black;
  border-radius: 20px;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;

  p {
    margin: 0;
  }
}

.gh-pr-widget__title {
  font-size: 32px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.gh-pr-widget__subtitle {
  font-size: 14px;
  line-height: 1.3;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: #6516dd;
      text-decoration: underline;
    }
  }
}

.gh-pr-widget__items {
  padding-left: 20px;
}

.gh-pr-widget__item {
  margin-bottom: 20px;
}

.gh-pr-widget__details {
  display: flex;
  align-items: center;
  color: #6516dd;
  text-decoration: none;
}

.gh-pr-widget__avatar {
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.gh-pr-widget__subdetails {
  display: flex;
  font-size: 85%;
  color: dimgrey;
  margin-top: 10px;
}

p.gh-pr-widget__subdetail {
  margin-right: 10px;
}