.demo-rte {
  & > *:first-child,
  & > [contenteditable] > *:first-child {
    margin-top: 0;
  }

  & > *:last-child,
  & > [contenteditable] > *:last-child {
    margin-bottom: 0;
  }

  a,
  a:visited {
    color: var(--link-color);
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  li p {
    padding: 0;
    margin: 0 0 5px;
  }

  p {
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-weight: 400;
    line-height: 1.6;
    transition: all 250ms ease 0s;
    font-size: 1rem;

    &.large {
      font-size: 1.3rem;
      line-height: 1.7;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: var(--heading-font);
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.2em;
  }

  h3 {
    font-size: 2.8em;
    letter-spacing: -1px;
    line-height: 1em;
  }

  h4 {
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  margin-bottom: var(--widget-spacer);
}

.layout-widget .demo-rte {
  h3 {
    margin-bottom: 1rem;
  }
}

.apos-layout__item .demo-rte {
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }
}

.container-widget .demo-rte {
  margin-bottom: 0;
}

.demo-rte h2,
.h2 .demo-rte p {
  margin-bottom: 1rem;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -3px;
  @container (max-width: 800px) {
    font-size: 50px;
    letter-spacing: -1px;
  }
  @container (max-width: 600px) {
    font-size: 40px;
  }
  @media (max-width: 800px) {
    font-size: 50px;
    letter-spacing: -1px;
  }
  @media (max-width: 600px) {
    font-size: 40px;
  }
}

.home-tite {
  font-size: 14px;
}

.home-cta.h2 p {
  text-align: center;
}

.highlight-red {
  color: var(--brand-red);
}
.highlight-mustard {
  color: var(--brand-mustard);
}
.highlight-purple {
  color: var(--brand-purple);
}
.highlight-blue {
  color: var(--brand-blue);
}
.highlight-seafoam {
  color: var(--brand-seafoam);
}

.type-mono {
  font-family: "Fira Code", monospace;
}

.type-wide-tracking {
  letter-spacing: 8px !important;
}

.type-red-underline {
  text-decoration: underline;
  text-decoration-color: var(--brand-red);
}

.type-seafoam-underline {
  text-decoration: underline;
  text-decoration-color: var(--brand-seafoam);
}

.type-rainbow-hover {
  background-image: linear-gradient(
    to right,
    var(--brand-red),
    var(--brand-mustard),
    var(--brand-purple),
    var(--brand-blue),
    var(--brand-seafoam)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  transition: background-position 0.5s;
  background-size: 200% auto;
  background-position: 100%;
  background-repeat: repeat;
  &:hover {
    background-position: 0;
  }
}

// image alignment stuff
.image-float-left,
.image-float-right,
.image-center,
.image-full {
  img {
    width: 100%;
  }
}

.image-float-left,
.image-float-right,
.image-center {
  width: 50%;
}

.image-float-left {
  float: left;
  margin: 0 1em 1em 0;
}

.image-float-right {
  float: right;
  margin: 0 0 1em 1em;
}

.image-center {
  margin: auto;
}

.image-full {
  max-width: 100%;
}

// Table overrides

.layout [data-rich-text] table:not([class]) td,
.layout [data-rich-text] table:not([class]) th,
.layout .tiptap table:not([class]) td,
.layout .tiptap table:not([class]) th,
.layout .tableWrapper table td,
.layout .tableWrapper table th,
.layout .apos-rich-text-table td,
.layout .apos-rich-text-table th {
  border: 1px solid var(--faint-color);
}

.layout [data-rich-text] table:not([class]) th,
.layout .tiptap table:not([class]) th,
.layout .tableWrapper table th,
.layout .apos-rich-text-table th {
  padding: 1rem 0;
  background-color: var(--faint-color);
  vertical-align: middle;
}

.layout th {
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.ProseMirror > * + * {
  margin-top: 0 !important;
}
