// name: 'one',
// fonts: {
//   meta: "'Consolas', 'Monaco', monospace'",
//   headline: "'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif",
//   body: "tahoma, geneva, verdana, kalimati, sans-serif"
// },
// colors: {
//   one: '#FFFFFF',
//   two: '#F5F5F5',
//   three: '#D9D9D9',
//   four: '#797979',
//   five: '#000000',
// },
// radius: '5px'

:root {
  --t-radius: '5px';
  --t-font-meta: "'Consolas', 'Monaco', monospace'";
  --t-font-headline: "'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif";
  --t-font-body: "tahoma, geneva, verdana, kalimati, sans-serif";
  --t-color-one: "#FFFFFF";
  --t-color-two: "#F5F5F5";
  --t-color-three: "#D9D9D9";
  --t-color-four: "#797979";
  --t-color-five: "#000000";
}