
h1 {
  font-family: var(--heading-font);
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -3px;
  text-align: center;
  @media only screen and (max-width: 800px) {
    font-size: 50px;
    letter-spacing: -1px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 40px;
  }

  @container (max-width: 800px) {
    font-size: 50px;
    letter-spacing: -1px;
  }
  @container (max-width: 600px) {
    font-size: 40px;
  }
}

h1, h2, h3, h4 {
  &:not([class^="apos"]) {
    font-family: var(--heading-font);
  }
}

.page-title-wrapper {
  margin-bottom: 80px;
}

.page-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 0.9;
}