{% fragment excerpt(article) %}
  {% set attachment = apos.image.first(article._image) %}
  {% set url = apos.attachment.url(attachment, { size: 'one-half' }) %}
  <div class="article-excerpt">
    {% if url %}
      <a class="article-excerpt-image-container" href="{{ article._url }}">
        <img
          loading="lazy"
          class="article-excerpt-image"
          src="{{ url }}"
          alt="{{ attachment.title }}"
          width="{{ apos.attachment.getWidth(attachment) }}"
          height="{{ apos.attachment.getHeight(attachment) }}"
          srcset="{{ apos.image.srcset(attachment) }}"
        />
      </a>
    {% endif %}
    <div class="article-excerpt-content">
      {% if not article._url %}
        <p class="meta">
          <em>{{ __t('project:needArticleIndex') }}</em>
        </p>
      {% endif %}
      {% if article._categories.length %}
        <div class="article-topics">
          {% for category in article._categories %}
            <a href="{{ article._parentSlug }}?categories={{ category.slug }}" class="chip">{{ category.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if article._author.length %}
        <div class="article-detail article-author">
          {{ __t('project:writtenBy') }} {{ article._author[0].title }}
        </div>
      {% endif %}
      <div class="article-detail article-published">
        {{ apos.helper.formatDate(article.publishedDate) }}
      </div>
      <h3><a href="{{ article._url }}">{{ article.title }}</a></h3>
      <article>
        {% if not apos.area.isEmpty(article, 'blurb') %}
          {% area article, 'blurb' %}
        {% else %}
          <p class="placeholder">{{ __t('project:noSummary') }}</p>
        {% endif %}
      </article>
    </div>
  </div>
{% endfragment %}
