{% fragment excerpt(article) %}
  {% set attachment = apos.image.first(article._image) %}
  {% set url = apos.attachment.url(attachment, { size: size }) %}
  <div class="article-excerpt">
    {% if url %}
      <a class="article-excerpt-image-container" href="{{ article._url }}">
        <img class="article-excerpt-image" src="{{ url }}" alt="{{ attachment.title }}" />
      </a>
    {% endif %}
    <div class="article-excerpt-content">
      {% if not article._url %}
        <p class="meta">
          <em>You will need to publish an Article Index page for article links to work.</em>
        </p>
      {% endif %}
      {% if article._topics.length %}
        <div class="article-topics">
          {% for topic in article._topics %}
            <a href="{{ article._parentSlug }}?topics={{ topic.slug }}" class="chip">{{ topic.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if article._author.length %}
        <div class="article-detail article-author">
          Written by {{ article._author[0].title }}
        </div>
      {% endif %}
      <div class="article-detail article-published">
        {{ apos.helper.formatDate(article.publishedDate) }}
      </div>
      <h3><a href="{{ article._url }}">{{ article.title }}</a></h3>
      <article>
        {% if not apos.area.isEmpty(article, 'blurb') %}
          {% area article, 'blurb' %}
        {% else %}
          <p class="placeholder">No blurb for this article</p>
        {% endif %}
      </article>
    </div>
  </div>
{% endfragment %}