{% import '@apostrophecms/pager:macros.html' as pager with context %}
{% import 'fragments.html' as fragments with context %}

{% extends "layout.html" %}

{% block pageTitle %}
  <div class="article-title-wrapper">
    <div class="layout">
      {% set title = data.page.title %}
      {% if data.piece %}
        {% set title = data.piece.title %}
      {% endif %}
      <h1 class="page-title">{{ title }}</h1>
      <ul class="article-topic-filters">
        <li>
          <a
          href="?"
          {% if not data.query.categories %}
            class="active"
          {% endif %}
          >All Articles</a>
        </li>
        {% for category in data._categories %}
          <li>
            <a 
            href="?categories={{ category.slug }}"
            {% if data.query.categories and data.query.categories === category.slug %}
              class="active"
            {% endif %}
            >{{ category.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block main %}
  <section class="article-index">
    <header class="article-intro general-content">
      {% area data.page, 'intro' %}
    </header>

    {# Give first two excerpts a different treatment #}
    <div class="article-excerpts article-excerpts--display-horizontal article-excerpts--display-featured">
      {% for article in data.pieces %}
        {% if loop.index === 1 or loop.index === 2 %}
          {% render fragments.excerpt(article) %}
        {% endif %}
      {% endfor %}
    </div>

    {# Do the rest normally #}
    <div class="article-excerpts article-excerpts--display-grid">
      {% for article in data.pieces %}
        {% if loop.index !== 1 and loop.index !== 2 %}
          {% render fragments.excerpt(article) %}
        {% endif %}
      {% endfor %}
    </div>
    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}

  </section>
{% endblock %}
