{% import 'fragments.html' as fragments with context %}

{% extends "layout.html" %}
{% set article = data.piece %}
{% set attachment = apos.image.first(article._image) %}
{% set url = apos.attachment.url(attachment, { size: 'full' }) %}

{% block pageTitle %}
  <div class="article-title-wrapper">
    <div class="layout">
      {% set title = data.page.title %}
      {% if data.piece %}
        {% set title = data.piece.title %}
      {% endif %}
      <h1 class="page-title">{{ title }}</h1>
    </div>
    <div class="article-details">
      {% if article._author.length %}
        <div class="article-detail article-author">
          Written by 
          <a href="{{ article._parentSlug }}?author={{ article._author[0].slug }}">
            {{ article._author[0].title }}
          </a>
        </div>
      {% endif %}
      <div class="article-detail article-published">
        {{ apos.helper.formatDate(article.publishedDate) }}
      </div>
    </div>
    {% if article._categories.length %}
      <div class="inner article-topics article-topics--show">
        {% for category in article._categories %}
          <a href="{{ article._parentSlug }}?categories={{ category.slug }}" class="chip">{{ category.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block main %}
  <article class="article-show general-content">
    {% if url %}
      <img
        class="article-show__image"
        src="{{ url }}"
        alt="{{ article.title }}"
        loading="lazy"
        width="{{ apos.attachment.getWidth(attachment) }}"
        height="{{ apos.attachment.getHeight(attachment) }}"
        srcset="{{ apos.image.srcset(attachment) }}"
      >
    {% endif %}
    {% area article, 'main' %}
  </article>
{% endblock %}
