{% import 'fragments.html' as fragments with context %}

{% extends "layout.html" %}
{% set article = data.piece %}

{% block pageTitle %}
  <div class="article-title-wrapper">
    <div class="inner">
      {% set title = data.page.title %}
      {% if data.piece %}
        {% set title = data.piece.title %}
      {% endif %}
      <h1 class="page-title">{{ title }}</h1>
    </div>
    <div class="inner article-topics">
      {% if article._topics and article._topics.length > 0 %}
        {% render fragments.topicsList(article._topics) %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block main %}
  <article class="article-show general-content">
    {% area article, 'main' %}
  </article>
{% endblock %}
