# Environment and local data
.env
/data
/public/uploads

# Dependencies
node_modules
package-lock.json

# Build output
/apos-build
/public/apos-frontend

# OS and editor files
.DS_Store
*.swp
npm-debug.log
