{# Automatically extends the right outer layout and also handles AJAX situations #}
{% extends data.outerLayout %}
{% import '@apostrophecms/template:macros/arrows.html' as arrows with context %}
{% import "link.html" as link %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }} - {{ data.global.siteTitle or 'ApostropheCMS Demo'}}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <link rel="apple-touch-icon" sizes="57x57" href="/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
  <link rel="manifest" href="/fav/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Caveat:wght@600&family=Inter:wght@400;500&display=swap" rel="stylesheet"> 
{% endblock %}

{% block beforeMain %}
  <header class="header">
    <div class="inner">
      <a class="site-home" href="/">
        <img class="site-logo" src="/images/apos-dark.svg" alt="Apostrophe" />
      </a>
    </div>
  </header>
  {% block breadcrumbs %}
    {# Breadcrumb trail to the current page or piece. Not on the home page #}
    {% if data.page and data.page._ancestors.length %}
      <div class="inner">
        <nav class="purple breadcrumb">
          {% for page in data.page._ancestors %}
            <a href="{{ page._url }}">{{ page.title }}</a>
          {% endfor %}
          <a {{ ('class="current-page"' if not data.piece) | safe }} href="{{ data.page._url }}">{{ data.page.title }}</a>
          {% if data.piece %}
            <a class="current-page" href="{{ data.piece._url }}">{{ data.piece.title }}</a>
          {% endif %}
        </nav>
      </div>
    {% endif %}
  {% endblock %}
  {% block pageTitle %}
    <div class="page-title-wrapper">
      {% set title = data.page.title %}
      {% if data.piece %}
        {% set title = data.piece.title %}
      {% endif %}
      <h1 class="page-title">{{ title }}</h1>
      {% block subnav %}
        {% if data.page and (not data.piece) and data.page._children.length %}
          {% set placeheld = false %}
          <section class="sub-nav">
            {# Side nav: children of the current page #}
            {% if data.page._children.length %}
              <nav class="children">
                {% for page in data.page._children %}
                  <a class="button button--small" href="{{ page._url }}">{{ page.title }}</a>
                {% endfor %}
              </nav>
            {% endif %}
          </section>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
  <div class="layout">
    <main>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
    </main>
  </div>
  <footer class="footer">
    {% if data.global.footerLinks.length %}
      <nav class="footer-links">
        {% for item in data.global.footerLinks %}
          {% set path = apos.helper.linkPath(item) + '?utm_source=demo' %}
          {{ link.render({
            label: item.linkText,
            path: path,
            target: item.linkTarget,
            class: 'footer-links__link'
          })}}
        {% endfor %}
      </nav>
    {% endif %}
  </footer>
{% endblock %}
