<div class="locales" data-locales>
  <button
    class="locales__toggler"
    data-locales-toggle
    aria-expanded="false"
    aria-controls="locales-list"
  >
    {% for localization in data.localizations %}
      {% if localization.current %}
        <span class="locales__toggler__text">
          <div class="locales__toggler__flag" style="background-image: url(https://flagsapi.com/{{ localization.flag }}/flat/32.png)"></div>
          <span class="locales__toggler__active-label">
            {{ localization.label }}
          </span>
          <svg class="locales__toggler__chevron" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
        </span>
      {% endif %}
    {% endfor %}
  </button>
  <ul id="locales-list" class="locales__list" data-locales-list hidden>
    {% for localization in data.localizations %}
      {% if localization._url %}
        <li class="locales__item {% if localization.current %}current{% endif %}">
          <a href="{{ localization._url or localization.homePageUrl }}">
            <div class="locales__toggler__flag" style="background-image: url(https://flagsapi.com/{{ localization.flag }}/flat/32.png)">
              {% if localization.current %}
                <svg class="locales__toggler__check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
              {% endif %}
            </div>
            {{ localization.label }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
