.apos-rich-text p,
.apos-richtext-editor p,
.ProseMirror p {
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: "La Nord", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  transition: all 250ms ease 0s;
  font-size: 1rem;
  max-width: 30rem;
}

.apos-rich-text h4,
.apos-richtext-editor h4,
.ProseMirror h4 {
  font-family: serif;
  font-weight: 300;
  font-size: 3.4em;
  line-height: 1.2em;
}

.apos-rich-text h3,
.apos-richtext-editor h3,
.ProseMirror h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1.2em;
  letter-spacing: -1px;
}

.apos-rich-text,
.apos-richtext-editor,
.ProseMirror {
  padding: 2rem;
}