{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{# Home page is full width #}
{% block sideNav %}{% endblock %}

{% block main %}
  <div class="home">
    <section class="latest-article">
      <h2>Latest Articles</h2>
      {% component "article:recent" with { limit: 5 } %}
    </section>
    <div class="content">
      {% area data.page, 'main' %}
    </div>
  </div>
{% endblock %}
