{% extends "layout.html" %}
{% set product = data.piece %}

{# product show page is full width #}
{% block sideNav %}{% endblock %}

{% block main %}
  <section class="blurb">{% area product, 'blurb' %}</section>
  <section class="features">
    <h3>Features</h3>
    {% for feature in product.features %}
      <h4>{{ feature.title }}</h4>
    {% endfor %}
  </section>
  <section class="related">
    <h3>Related Articles</h3>
    {% for article in product._articles %}
      <h4><a href="{{ article._url }}">{{ article.title }}</a></h4>
    {% endfor %}
  </section>
  <article>{% area product, 'main' %}</article>
{% endblock %}
