.demo-rte {
  font-family: 'Inter', sans-serif;
  & > *:first-child,
  & > [contenteditable] > *:first-child {
    margin-top: 0;
  }

  a,
  a:visited {
    color: rgb(101, 22, 221);
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  li p {
    padding: 0;
    margin: 0 0 5px;
  }

  p {
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-weight: 400;
    line-height: 1.6;
    transition: all 250ms ease 0s;
    font-size: 1rem;
  }

  h2, h3, h4 {
    margin: 30px 0;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: 600;
  }

  h3 {
    font-size: 2.4em;
    letter-spacing: -1px;
  }
}

.demo-rte h2,
.h2 .demo-rte p {
  margin: 0 0 30px;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -3px;
}

.home-cta.h2 p {
  text-align: center;
}