@import '_header';
@import '_article';
@import '_pager';
@import '_sidenav';

.demo-video {
  width: 100%;
}

.demo-image {
  max-width: 100%;
}

.demo-rte {

  a,
  a:visited {
    font-family: 'Inter', sans-serif;
    color: rgb(101, 22, 221);
    text-decoration: none;
  }

  a:active,
  a:hover {
    text-decoration: underline;
  }

  p {
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    transition: all 250ms ease 0s;
    font-size: 1rem;
  }

  h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6em;
    margin: 30px 0;
    line-height: 1.2em;
  }

  h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2.4em;
    line-height: 1.2em;
    letter-spacing: -1px;
    margin: 30px 0;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.widget-two-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.widget-two-column-one {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.widget-two-column-two {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.widget-two-column-one + .widget-two-column-two {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .widget-two-column {
    flex-direction: column;
  }

  .widget-two-column-one + .widget-two-column-two {
    margin-top: 20px;
    margin-left: 0;
  }
}

.footer-links {
  font-family: 'Inter', sans-serif;
  margin: 32px 32px 16px 32px;
  a {
    padding-right: 32px;
  }
}

.site-home {
  display: inline-block;
}

.site-logo {
  display: block;
  height: 40px;
}

.home {
  font-family: 'Inter', sans-serif;
  display: flex;
  margin: 0 auto;
}

.home .content {
  font-family: 'Inter', sans-serif;
  flex-grow: 1;
  margin-left: 30px;
}

.purple {
  color: #6617dc;
}

.placeholder {
  width: 100%;
  opacity: 0.5;
  margin: 40px 10px;
  text-align: center;
  font-style: italic;
}
