{% for item in data.widget._recipes %}
  <article class="blog-list__item blog-item ">
    {{ item.title }}
    {# <figure class="blog-item__image objFit">
      <img
        src="//cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_25x.jpg?v=1593000132"
        sizes="(min-width: 60em) 25vw, 50vw"
        alt="Turmeric and cardamom granola with mango lassi yogurt"
        crossorigin="anonymous"
        srcset="
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_200x.jpg?v=1593000132   200w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_400x.jpg?v=1593000132   400w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_600x.jpg?v=1593000132   600w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_800x.jpg?v=1593000132   800w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_1000x.jpg?v=1593000132 1000w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_1200x.jpg?v=1593000132 1200w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_1400x.jpg?v=1593000132 1400w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_1600x.jpg?v=1593000132 1600w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_1800x.jpg?v=1593000132 1800w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_2000x.jpg?v=1593000132 2000w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_2200x.jpg?v=1593000132 2200w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_2400x.jpg?v=1593000132 2400w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_2600x.jpg?v=1593000132 2600w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_2800x.jpg?v=1593000132 2800w,
          //cdn.shopify.com/s/files/1/0324/8750/5965/articles/Monoware_Tumeric_Granola_Recipe_3c2eb5c6-d683-4f0d-8de3-1fed3917c5af_3000x.jpg?v=1593000132 3000w
        "
      />
    </figure>

    <div class="blog-item__content">
      <time class="blog-item__content-time">22 August, 2020</time>

      <h6 class="blog-item__content-title">
        Turmeric and cardamom granola with mango lassi yogurt
      </h6>
      <div class="blog-item__content-summary rte">
        <p>
          <span
            >We often repeat the same breakfast each morning, body and
            brain on autopilot. Sometimes it’s good to mix...
          </span>
        </p>
      </div>
    </div> #}
  </article>
{% endfor %}